@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --c-primary: #1195ff;
  --c-yellow: #ffd532;
  --c-link: #4d4d4d;
  --c-body: #636383;
  --c-light: #f6f6f6;
  --c-h: rgba(4, 31, 131);
  --c-secondary-light: rgb(217 217 217) !important;
  --f-main: "Work Sans", sans-serif;
  --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  --line-height: 1.9;
  --line-height-3: 3;
}

/* Reset & Helpers */
body {
  font-family: var(--f-main);
  color: var(--c-body);
  line-height: var(--line-height);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  color: var(--c-link);
}

a {
  text-decoration: none;
  color: var(--c-light);
  transition: var(--transition);
}

a:hover {
  color: var(--c-yellow) !important;
}

p,
li {
  color: #4d4d4d !important;
}
img {
  width: 100%;
}
.lh-3 {
  line-height: var(--line-height-3);
}

section,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* contact-icon */
.bg-primary {
  background-color: var(--c-h) !important;
  /* padding: 10px 15px; */
  min-height: 50px;
  min-width: 50px;
  text-align: center;
  align-content: center;
}
.btn-primary:hover {
  background-color: rgb(255, 255, 255) !important;
  border-color: var(--c-h);
  color: var(--c-h) !important;
}
/* header */
#hero {
  /* rgba(4, 31, 131, 0.8), rgba(4, 31, 131, 0.8) */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/bg-hero.png);
  background-size: cover;
}
/* navbar */
.nav-link {
  font-weight: 500 !important;
}
.nav-scroll {
  transition: var(--transition);
}
.navbar-toggler {
  border-color: transparent;
  border-radius: 0;
}
/* button-primary */
#book-nav {
  width: 159px !important;
  height: 48px !important;
  border-radius: 0;
  font-size: 16px;
}
.navbar-toggler-icon {
  background-image: url(../icon/nav-toggler.svg) !important;
}
/* background-offcanvas */
.bg-offcanvas {
  background-color: #ffffff;
}
/* offcanvas-nav-color */
.navbar-brand,
.bg-offcanvas > .offcanvas-body > ul > li > .offcanvas-color {
  color: #ffffff;
}
.btn-close {
  background: url(../icon/btn-close.svg);
  width: 2px;
  height: 2px;
}
/* book-nav */
.btn-primary {
  width: 182px;
  height: 54px;
  border-radius: 0;
  font-size: 16px;
  align-content: center;
  background-color: var(--c-h);
  color: #ffffff;
  border-color: var(--c-h);
}
/* hero-span */
#hero-title {
  color: var(--c-yellow) !important;
  font-size: 18px !important;
  margin-bottom: 0px;
}
/* span-yellow */
.spn-yellow {
  color: var(--c-yellow);
}
/* text-light */
.text-light {
  color: rgb(217 217 217) !important;
}
/* paragraph-size */
.paragraph-size {
  font-size: 17px !important;
}
/* about-us */
#about-us {
  position: relative;
}
/* about-us-img */
#img-about-us {
  box-shadow: 120px 80px 0px 0px var(--c-h);
}
/* text-body-color */
.text-body-emphasis {
  color: var(--c-h) !important;
}
/* services-svg */
.services-svg {
  width: 60px;
  height: 60px;
  fill: var(--c-h);
}
/* .card-body-services */
.card-body-services {
  margin-top: -10%;
  text-align: center;
}
/* div-services-svg-icon */
.div-services-svg {
  padding: 15px;
  width: max-content;
  border: 1px solid #dedede;
  border-radius: 50px;
  background: #ffffff;
  position: relative;
  top: -45px;
  align-self: center;
  transition: var(--transition);
}
/* font-size-card-title */
.card-body {
  padding: 20px 25px 20px 25px;
}
.card-title {
  font-size: 18px;
}
/* card-text */
.card-text {
  color: #4d4d4d;
}
/* card-services-border */
.card-services {
  transition: var(--transition);
  border: 1px solid #dedede !important;
}
/* card-services-background-color */
.card-services:hover {
  background-color: var(--c-h);
}
/* card-title-services */
.card-services:hover .card-body-services {
  color: #ffffff !important;
}
/* .card-services-hover-text-color */
#newsletter > .container > .row > .col > p,
.card-services:hover .card-text {
  color: var(--c-light) !important;
}
/* icon-shine-size */
.icon-shine {
  width: 32px;
  height: 32px;
}
/* background-pricing */
#pricing {
  background: var(--c-h);
}
/* card-header */
.card-header {
  background-color: transparent;
  border-bottom: none;
}
/* pricing-card-title */
.pricing-card-title {
  background: var(--c-h);
  color: #ffffff;
  padding: 15px;
  width: 75%;
  margin-inline: auto;
}
/* card-pricing-border-radius */
#pricing > .container > .row > .col > .card {
  border-radius: 0;
}
/* card-pricing-button */
#pricing > .container > .row > .col > .card > .card-body > button {
  width: 80%;
  height: 50px;
  border-radius: 0;
  border-color: #666666;
  color: #000000;
  font-size: 16px;
}
/* card-pricing-button-hover */
#pricing > .container > .row > .col > .card > .card-body > button:hover {
  background-color: var(--c-h);
  color: #ffffff;
}
.card {
  border-radius: 0;
}
.card-pricing > .card-body {
  padding: 0 !important;
}
/* change-color-button-pricing */
.card-pricing:hover > .card-body > button {
  background-color: var(--c-h);
  color: #ffffff !important;
}
/* blog-date-before */
#blog > .container > .row > .col > .card {
  position: relative;
}
.blog-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--c-h);
  width: 4rem;
  line-height: 0.7;
  height: 4rem;
  align-content: center;
  z-index: 1;
  transform: translateX(65px);
  transition: var(--transition);
}
/* card-hover-blog-date-show */
#blog > .container > .row > .col > .card:hover .blog-date {
  transform: translateX(0);
}
/* blog-date-heading-title-color */
.blog-date > h6,
span {
  color: var(--c-yellow) !important;
}
.blog-img {
  overflow: hidden;
}
/* transition-blog-img */
.blog-img > .img-zoom > img {
  transition: var(--transition);
  border-radius: 0;
}
/* transition-blog-img-hover */
#blog > .container > .row > .col > .card:hover .blog-img > .img-zoom > img {
  transform: scale(1.05);
}
/* card-body-heading-color */
#blog > .container > .row > .col > .card:hover .card-body > h5 {
  color: var(--c-h);
}
/* read-more-blog-link */
.div-blog-link {
  width: max-content;
  transition: var(--transition);
}
.div-blog-link:hover {
  transform: translateX(5px) !important;
}
.spn-blog-link {
  color: var(--c-h) !important;
  font-weight: 600;
}
.blog-link:hover {
  color: var(--c-h) !important;
}
.blog-link > img {
  width: 24px !important;
  height: 24px !important;
}

/* form-control */
.form-control {
  height: 3rem;
  border-radius: 0;
}
.form-control:focus {
  border-color: var(--c-h);
  box-shadow: none;
}
/* textarea */
textarea {
  height: 10rem !important;
}
/* list-group-img-contact-section */
.list-group-item > div > img {
  width: 20px;
  height: 20px;
}
/* h-contact */
.h-contact {
  font-size: 18px !important;
}
/* newsletter */
#newsletter {
  background-color: var(--c-h);
  padding: 50px;
  margin-inline: 10%;
}
/* footer */
#footer {
  background-color: #000000;
}
/* footer-a-p-color */

#footer > .container > .row > .col > ul > li > a,
.footer-p {
  color: #d9d9d9cc !important;
}
/* footer-links-hover */
#footer > .container > .row > .col > ul > li > a:hover {
  color: var(--c-yellow) !important;
}
/* footer-title-links */
#footer > .container > .row > .col > h5 {
  padding-bottom: 22px;
}
/* footer-icon-size */
#footer > .container > .row > .col > ul > li > a > img {
  width: 20px;
  height: 20px;
}
/* footer-bg-icon */
#footer > .container > .row > .col > ul > li > .li-footer {
  background: var(--c-h);
  padding: 13px;
  border-radius: 30px;
}
/* footer-bg-icon-hover */
.li-footer:hover {
  background-color: var(--c-yellow) !important;
}
/* input-group-send-email */
.input-group > input,
.input-group > input:focus {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}
/* input-group-send-email-text-color */
.input-group > input::placeholder {
  color: #ffffff;
}
.input-group > button {
  padding-inline: 20px !important;
  width: 60px !important;
  height: auto;
  transition: var(--transition);
}
.input-group > button:hover {
  background-color: #dddcdc !important;
}
/* add-class-js */
.custom-navbar {
  background-color: #ffffff !important;

  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}
.nav-color {
  color: var(--c-h) !important;
}
.navbar-toggler-icon-2 {
  background-image: url(../icon/nav-toggler-2.svg) !important;
}
@media screen and (max-width: 991px) {
  .nav-scroll {
    transition: none;
  }
  /* offcanvas-nav-color */
  .bg-offcanvas > .offcanvas-body > ul > li > .offcanvas-color {
    color: var(--c-h);
  }

  .bg-offcanvas > .offcanvas-body > ul > li > .offcanvas-color:hover {
    color: var(--c-yellow) !important;
  }
  #services > .container > .row > .col {
    margin-top: 10%;
  }
  .card-services {
    border: 0 !important;
  }

  #newsletter {
    margin-inline: 0;
  }
  #img-about-us {
    box-shadow: 120px -80px 0px 0px var(--c-h);
  }
}
